@import url(https://fonts.googleapis.com/css?family=Amarante);
@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css);
@import url(https://fonts.googleapis.com/earlyaccess/nanumbrushscript.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothiccoding.css);

/*
{ background-color : #F27E9D;}
{ background-color : #8C7280;}
{ background-color : #FFF1CC;}
{ background-color : #99828A;}
{ background-color : #F2ECE9;}
*/

* {
  //border: 1px pink dotted;
}

#myCarousel {
  margin-top: 80px;
  margin-bottom: 40px;
}

.carousel-inner .item img {
    width: 100%;
    margin: auto;
    height: 500px;
    max-height: 500px;
}

.carousel-inner .item video {
  width: 100%;
  margin: auto;
  height: 500px;
  max-height: 500px;
  overflow: hidden;
  object-fit: fill;
  filter: brightness(75%);
  z-index: -100;
}

.carousel-inner .carousel-caption h3 {
    font-size: 30px;
    font-style: italic;
    font-family: 'Nanum Brush Script', serif;
    color: #F27E9D;
    z-index: 2;
    display: inline-block;
    position: relative;
}

#categoryList {
  background-color : #F2ECE9;
  width: 75%;
  margin: auto;
}

td {
}


td a{
  position: relative;
  font-size: 24px;
}

.row td img
{
    width: 230px;
    height:230px;
    filter: brightness(80%);
}


.module {
  width: 230px;
  height: 230px;
  margin: 0 0 20px 0;
  position: relative;
  float: left;
  opacity: 0.6;
}

.module:hover {
  opacity: 1.0;
  cursor: pointer;
}

.module h2 {
  opacity: 1.0;
  font-family: 'Nanum Gothic Coding', serif;
  font-size: 20px;
  font-weight: bold;
  background-color:rgba(0,0,0,0.7);
  border: 1px white solid;
  padding: 10px;
  text-align: center;
  color: white;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 120px;
  height: 40px;
}

.ProjectList a {
    color: black;
    text-decoration: none;
}

.caption p {
    height: auto;
    padding: 0px;
    max-height: 100px;
    word-break: break-all;
    overflow: auto;
}
